<table>
  <thead>
  <tr>
    <th data-field="id">Nazwa</th>
    <th data-field="name">Zdjęcie</th>
    <th data-field="price">Sprzęt</th>
  </tr>
  </thead>

  <tbody>
  <tr>
    <td>ASD</td>
    <td>#photo</td>
    <td>Iphon 6s</td>
  </tr>
  <tr>
    <td>ASD</td>
    <td>#photo</td>
    <td>Iphon 6s</td>
  </tr>
  <tr>
    <td>ASD</td>
    <td>#photo</td>
    <td>Iphon 6s</td>
  </tr>
  </tbody>
</table>